<h1 mat-dialog-title>Add ToDo</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.todo" placeholder="Task">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="data.level" placeholder="Priority Level">
      <mat-option value="1">
        1
      </mat-option>
      <mat-option value="2">
        2
      </mat-option>
      <mat-option value="3">
        3
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  mat-raised-button [mat-dialog-close]="data">Ok</button>
</div>